@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue-Medium.woff2") format('woff2'),
        url("../fonts/HelveticaNeue-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue-Bold.woff2") format('woff2'),
        url("../fonts/HelveticaNeue-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue.woff2") format('woff2'),
        url("../fonts/HelveticaNeue.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue-Black.woff2") format('woff2'),
        url("../fonts/HelveticaNeue-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
b,
i,
sup,
ol,
ul,
li,
pre,
code,
form,
label,
input,
textarea,
button,
hr,
header,
footer,
main,
section,
nav,
article,
aside {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

header,
footer,
main,
section,
nav,
article,
aside {
  display: block;
}

button {
  display: inline-block;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  line-height: normal;
  -webkit-appearance: none;
}

img {
  display: inline-block;
  vertical-align: bottom;
  border: none;
}

b,
strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

sup {
  font-size: .85em;
  position: relative;
  bottom: .5em;
}

code {
  display: inline-block;
}

html,
body {
  font-family: "Helvetica", sans-serif;
  /* font-size: 62.5%; */
  font-size: .521vw;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: #FEE1DB;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .5rem rgba(231, 4, 127, .3);
}

body::-webkit-scrollbar-thumb {
  background-color: #FF583C;
  outline: .1rem solid #FF0D74;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.lh-32 {
  line-height: 3.2rem !important;
}

.onlyMobile {
  display: none !important;
}

.header {
  z-index: 8;
}

.header__row {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 138rem;
  height: 12.6rem;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.menu__item:not(:last-of-type) {
  margin-right: 6rem;
}

.menu__link {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: #E4097D;
  text-decoration: none;
}

.menu__link::after {
  content: '';
  position: absolute;
  display: none;
  width: 100%;
  height: .4rem;
  background: #E4097D;
  bottom: -1rem;
  left: 0;
  transition: all .3s ease;
}

.menu__link:hover::after,
.menu__link--current::after {
  display: block;
}

.header__dropdown {
  position: relative;
  width: 22rem;
}

.header__dropdown .btn {
  padding: 0 3.2rem;
}

.header__dropdown a,
.header__dropdown span {
  position: relative;
  z-index: 2;
  width: 100%;
}

.header__dropdown-list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 12rem;
  padding-top: 6.5rem;
  background-color: #fff;
  border-radius: 2.7rem;
}

@media (min-width: 800px) {
  .header {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 800px) {
  .header {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    position: fixed;
    max-width: 100%;
    min-height: 60px;
  }

  .header__row {
    border: none;
    height: auto;
  }

  .header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    transition: all .3s ease;
    overflow: auto;
    z-index: 3;
  }

  .opened nav {
    left: 0;
  }

  .menu {
    flex-direction: column;
  }

  .menu__item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}

/*open menu*/

.open-menu-btn {
  display: none;
  width: 5rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  left: auto;
  top: 2rem;
  z-index: 4;
  /* margin-top: -10px; */
  background: none;
  border: none;
  -webkit-appearance: none;
}

.open-menu-btn span {
  height: 0;
  background: #FE047D;
  border-radius: .5rem;
  border: .1rem solid #FE047D;
  position: absolute;
  left: 0;
  width: 100%;
  transition: .4s;
}

.open-menu-btn span:first-child {
  top: 0;
}

.open-menu-btn span:last-child {
  top: 0;
}

.open-menu-btn span:nth-child(2) {
  bottom: 0;
}

.open-menu-btn span:nth-child(3) {
  top: 1.3rem;
  width: 60%;
}

.open-menu-btn span:nth-child(4) {
  bottom: 0;
}

.open-menu-btn.opened span {
  background: #FE047D;
  border: .1rem solid #FE047D;
}

.open-menu-btn.opened span:nth-child(3),
.open-menu-btn.opened span:first-child,
.open-menu-btn.opened span:last-child {
  opacity: 0;
}

.open-menu-btn.opened span:nth-child(2) {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open-menu-btn.opened span:nth-child(4) {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 800px) {
  .open-menu-btn {
    display: block;
  }
}

.mob-nav-is-opened {
  position: fixed;
  left: 0;
  right: 0;
}

.main {
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
}

.footer {
  flex: 0 1 auto;
  min-height: 12.6rem;
  width: 100%;
  z-index: 2;
}

.footer__row {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 138rem;
  height: 12.6rem;
  margin: 0 auto;
  border-top: .2rem solid #FFAAB5;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.footer__item:not(:last-of-type) {
  margin-right: 6rem;
}

.footer__link {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: #E4097D;
  text-decoration: none;
}

.footer__link::after {
  content: '';
  position: absolute;
  display: none;
  width: 100%;
  height: .4rem;
  background: #E4097D;
  bottom: -1rem;
  left: 0;
  transition: all .3s ease;
}

.footer__link:hover::after {
  display: block;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  padding: 0 4.4rem;
  background: linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
  border-radius: 4rem;
  border: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn--white {
  background: linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn--transparent {
  background: transparent;
  border: .2rem solid transparent;
  color: #FF0D74;
  border-top-color: #FF0D74;
  border-right-color: #FF583C;
  border-bottom-color: #FF0D74;
  border-left-color: #E7047F;
}

.btn-hidden {
  display: none;
}

.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3% 0;
  z-index: 9;
  text-align: center;
  background: rgba(255, 255, 255, .7);
  font-size: 0;
  overflow: auto;
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

.popup_visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__window {
  position: relative;
  display: none;
  opacity: 0;
  width: 44rem;
  max-width: 93vw;
  min-height: 15rem;
  padding: 7rem 3rem 3rem;
  background: #FEE1DB;
  box-shadow: 0 1rem 2rem rgba(169, 115, 124, 0.15);
  border-radius: 2.5rem;
  animation: fadeIn 0.3s forwards;
  transition: all .3s ease;
}

.popup__window.big {
  width: 87rem;
}

.popup__window_visible {
  display: inline-block;
}

.popup__inner {
  font-size: 1.6rem;
  color: #FB7059;
}

.popup__title {
  font-size: 2.6rem;
  font-weight: 900;
  background: linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 3rem;
}

.popup__subtitle {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  text-decoration: none;
}

.popup__step {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.popup__text {
  font-size: 1.4rem;
  font-weight: 400;
}

.popup__message {
  font-size: 1.8rem;
}

.popup-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 4;
  border: none;
  background: none;
  background-image: url("./../img/popup/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.popup-is-opened {
  position: fixed;
  left: 0;
  right: 0;
}

.form {
  position: relative;
}

.field-error .form__text-input,
.field-error .form__textarea,
.field-error .custom-checkbox__label:before,
.form__chbox-group_error .custom-checkbox__label:before {
  border: .1rem solid #FF0000;
}

.form__text-input,
.form__textarea {
  display: block;
  width: 100%;
  height: 5.8rem;
  padding: 1.5rem;
  border: .1rem solid rgba(255, 255, 255, 1);
  border-radius: .7rem;
  color: #E4097D;
  background-color: rgba(255, 255, 255, 1);
  transition: all .3s ease;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.form__text-input:disabled,
.form__textarea:disabled {
  background-color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .5);
}

.form__text-input.js-autocomplete {
  padding-right: 6rem;
}

.form__text-input--decor {
  position: absolute;
  top: 2.6rem;
  right: 2.2rem;
  border: .65rem solid transparent;
  border-top: 1rem solid #E4097D;
}

.form__textarea {
  height: 17rem;
  resize: none;
  overflow: auto;
}

.form__text-input::placeholder,
.form__textarea::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  color: #B4A7C9;
  transform: translateY(0);
  transition: all .2s ease;
}

.form__text-label {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: calc(100% - 4.4rem);
  font-size: 1.4rem;
  font-weight: 400;
  color: #B4A7C9;
  transform: translate(1.5rem, 2.2rem);
  transition: all .2s ease;
  opacity: 0;
  visibility: hidden;
}

.form__text-input:focus {
  padding: 3.1rem 1.5rem 1.1rem;
}

.form__textarea:focus {
  padding: 4.1rem 1.5rem 1.1rem;
}

.form__text-input:focus::-webkit-input-placeholder,
.form__textarea:focus::-webkit-input-placeholder {
  color: transparent;
  transform: translateY(-50%);
}

.form__textarea:focus + .form__text-label,
.form__text-input:focus + .form__text-label {
  text-align: left;
  font-size: 1.3rem;
  transform: translate(1.5rem, .7rem);
  opacity: 1;
  visibility: visible;
}

.form__field {
  position: relative;
}

.row + .row {
  margin-top: 1.2rem;
}

.row + .row--btn {
  margin-top: 4rem;
}

.row--btn .btn {
  width: 100%;
}

.form__loader {
  display: none;
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  backdrop-filter: blur(5px);
  border-radius: .7rem;
}

.form_sending .form__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.form_sending .form__loader img {
  width: 5rem;
  height: 5rem;
}

.form_sending .form__submit {
  position: relative;
}

.form_sending .form__submit:after {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  background: url("./../img/loading.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  animation: form_loading_icon .9s infinite linear;
}

/* .form hr { margin: 15px 25px; border: none; border-bottom: 1px solid #; } */

/* @media (max-width: 750px) {

    .form__submit,
    .form__download {
        width: 100%;
        font-size: 12px;
    }
} */

@keyframes form_loading_icon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes form_loading {
  0% {
    transform: translate(-100%);
  }

  50% {
    transform: translate(50%);
  }

  100% {
    transform: translate(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fieldset {
  position: relative;
}

.fieldset__item {
  transition: .21s;
  position: static;
}

.fieldset__item_hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

/*form error*/

.form-error-tip {
  display: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: #ff0000;
  margin: 0 auto;
  margin-top: 1.2rem;
  text-align: center;
}

.form-error .form-error-tip {
  display: block;
}

/*field error*/

.field-error-tip {
  display: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: #ff0000;
  margin-top: 1.2rem;
  text-align: left;
}

.field-error-tip_textare {
  margin: 1.2rem 0;
}

.field-error-tip_checkbox {
  margin: 1.2rem 0;
}

.field-error .field-error-tip,
.field-error+.field-error-tip,
.form__radio-group_error .field-error-tip {
  display: block;
}

.file-error {
  color: #ff0000;
}

.no-file-upload {
  float: none;
  margin-right: 0;
}

.radioButton:checked,
.radioButton:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radioButton:checked+label,
.radioButton:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-right: 20px;
  line-height: 20px;
  cursor: pointer;
}

.radioButton:checked+label:before,
.radioButton:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.radioButton:checked+label:before,
.radioButton:not(:checked)+label:before {
  border-radius: 100%;
}

.radioButton:checked+label:after,
.radioButton:not(:checked)+label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radioButton:checked+label:after,
.radioButton:not(:checked)+label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #030786;
}

.radioButton:checked+label {
  color: #030786;
}

.radioButton:not(:checked)+label:after {
  opacity: 0;
}

.radioButton:checked+label:after {
  opacity: 1;
}

.check-registration__item .row + .row {
  margin-top: 4rem;
}

.check-registration__item + .check-registration__item {
  margin-top: 4rem;
}

.check-registration__block {
  display: none;
  margin-bottom: 4rem;
}

.check-registration__subtitle {
  margin-bottom: 1.2rem;
}

.check-registration__add {
  display: none;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  background-image: url("./../img/add.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__drpdwn-list {
  display: none;
  position: absolute;
  top: 5.9rem;
  left: 0;
  width: 100%;
  min-height: 15rem;
  max-height: 20rem;
  border-radius: .7rem;
  background-color: #fff;
  z-index: 2;
  list-style: none;
  font-size: 1.6rem;
  color: #B4A7C9;
  overflow: hidden;
}

.form__drpdwn-list ul {
  position: absolute;
  top: 2rem;
  right: 7rem;
  bottom: 3rem;
  left: 2rem;
  overflow-y: auto;
}

.form__drpdwn-list ul::-webkit-scrollbar {
  width: .5rem;
}

.form__drpdwn-list ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .5rem rgba(231, 4, 127, .3);
  border-radius: 2rem;
}

.form__drpdwn-list ul::-webkit-scrollbar-thumb {
  background-color: #E4097D;
  border-radius: 2rem;
}

.form__drpdwn-list .option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.form__drpdwn-list .option.hidden {
  display: none !important;
}

.form__drpdwn-list .nomach {
  display: none;
}

/* .custom-file__btn:after, */

/* .custom-file__del-btn:after, */

/* .custom-file__del-btn:before, */

.custom-file__preview:after {
  /* .custom-file_loaded .custom-file__lab:after, */
  /* .custom-file_loaded .custom-file__lab:before { */
  display: block;
  content: "";
}

.custom-file {
  position: relative;
  min-height: 20rem;
  padding: 2.4rem 0;
  border: .1rem dashed #B4A7C9;
  border-radius: .7rem;
  background-color: #fff;
}

.custom-file.custom-file_loaded {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.custom-file__preview {
  position: relative;
  background: inherit;
  overflow: hidden;
  border-radius: .7rem;
  border: .1rem dashed #B4A7C9;
}

.custom-file__preview>div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: #fff;
  border-radius: 1.6rem;
}

.custom-file__preview:before {
  display: block;
  content: "";
  width: 100%;
  padding-bottom: 100%;
}

.custom-file__preview img {
  width: 100%;
  height: auto;
}

.custom-file__preview:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  background: url("./../img/loading.svg") no-repeat 50% 50%;
  background-size: 100% 100%;
  -webkit-animation: form_loading_icon 0.9s infinite linear;
  animation: form_loading_icon 0.9s infinite linear;
}

.custom-file:after {
  display: block;
  content: "";
  width: 100%;
  clear: both;
}

.custom-file__input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file__lab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
}

.custom-file__lab p {
  margin-bottom: 3.5rem;
}

.custom-file__lab span {
  text-decoration: underline;
}

.custom-file_max-loaded .custom-file__lab {
  display: none;
}

.custom-file__btn-wrap {
  float: left;
  width: 25%;
  max-width: 210px;
  padding: 0 15px;
}

.custom-file__items_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.custom-file__items_flex .custom-file__item {
  flex: 0 1 20rem;
}

.custom-file__items-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file__item {
  position: relative;
  height: 20rem;
  width: 20rem;
  border-radius: .7rem;
}

.custom-file__name {
  display: none !important;
}

.custom-file__del-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 4;
  border: none;
  background: none;
  background-image: url("./../img/popup/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-file__del-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-file__del-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.custom-file__del-btn:after,
.custom-file__del-btn:before {
  width: .2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox + .custom-checkbox {
  margin-top: 1.2rem;
}

.custom-checkbox__input:checked,
.custom-checkbox__input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-checkbox__input:checked+label,
.custom-checkbox__input:not(:checked)+label {
  position: relative;
  display: block;
  padding-left: 3.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  color: #6C6B6B;
  cursor: pointer;
}

.custom-checkbox__input:checked+label::before,
.custom-checkbox__input:not(:checked)+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: .3rem;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border: .1rem solid transparent;
  border-top-color: #FF0D74;
  border-right-color: #FF583C;
  border-bottom-color: #FF0D74;
  border-left-color: #E7047F;
  box-sizing: border-box;
}

.custom-checkbox__input:checked+label::after,
.custom-checkbox__input:not(:checked)+label::after {
  content: '';
  position: absolute;
  left: 0.1rem;
  top: 0.4rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.custom-checkbox__input:checked+label:after,
.custom-checkbox__input:not(:checked)+label:after {
  /* background-size: 80%; */
  /* background-repeat: no-repeat;
    background-position: center center; */
  width: 2.4rem;
  height: 2.4rem;
  background: url("./../img/check.svg") center center/cover no-repeat, linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
}

.custom-checkbox__input:not(:checked)+label:after {
  opacity: 0;
}

.custom-checkbox__input:checked+label:after {
  opacity: 1;
}

/* =======RADIO======== */

.custom-checkbox__radio {
  position: absolute;
  left: -9999px;
}

.custom-checkbox__radio+label {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all .2s;
}

.custom-checkbox__radio+label::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 1.6rem;
  width: 1.8rem;
  height: 1.8rem;
  border: .2rem solid #00CAFD;
  background-color: #fff;
  border-radius: 100%;
}

.custom-checkbox__radio+label::after {
  content: "";
  position: absolute;
  top: .4rem;
  left: .4rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #00CAFD;
}

.custom-checkbox__radio:not(:checked)+label:after {
  opacity: 0;
}

.custom-checkbox__radio:checked+label:after {
  opacity: 1;
}

.rating-area {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
}

.rating-area input {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.rating-area label {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  cursor: pointer;
}

.rating-area label ~ label {
  margin-right: .5rem;
}

.rating-area > label::before,
.rating-area:not(:checked) > label::before,
.rating-area > label::after,
.rating-area:not(:checked) > label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.rating-area > label::before,
.rating-area:not(:checked) > label::before {
  background-image: url("./../img/star-before.svg");
}

.rating-area > label::after,
.rating-area:checked:not(:checked) > label::after {
  background-image: url("./../img/star-after.svg");
  opacity: 0;
}

.rating-area > input:checked + label::after,
.rating-area > input:checked + label ~ label::after,
.rating-area > input:not(:checked) + label:hover::after,
.rating-area > input:checked + label:hover::after,
.rating-area > input:not(:checked) + label:hover ~ label::after,
.rating-area > input:checked + label:hover ~ label::after {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 138rem;
  margin: 0 auto;
  color: #FB7059;
}

.container__title {
  font-size: 4.8rem;
  font-weight: 900;
  background: linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rules__link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #FB7059;
  border-radius: 1rem;
  background-color: #fff;
  transition: all .3s ease;
  z-index: 3;
}

.rules__link img {
  width: 4rem;
  height: 4rem;
}

.rules__link span {
  width: 0;
  font-size: 0;
  margin-right: 0;
  opacity: 0;
  transition: opacity 0s ease, font-size .3s ease;
}

.rules__link:hover span {
  width: auto;
  margin-right: 5rem;
  font-size: 2rem;
  opacity: 1;
}

.introduce {
  padding-top: 2.5rem;
  padding-bottom: 16rem;
}

.introduce .container {
  align-items: flex-start;
}

.introduce__subtitle {
  margin-bottom: 9.5rem;
  font-size: 4.4rem;
  font-weight: 700;
  color: #FB7059;
}

.introduce__content {
  margin-bottom: 4.5rem;
  background-image: url("./../img/introduce/wallet.png");
  background-size: 24rem 30rem;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.introduce__content-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.introduce__image {
  width: 62.7rem;
  margin-right: 11rem;
}

.introduce__image img {
  width: 100%;
  height: auto;
}

.introduce__slogan {
  width: 49.6rem;
}

.introduce__slogan img {
  width: 100%;
  height: auto;
}

.introduce__content-bottom {
  display: inline-block;
  padding: 0 8.6rem;
  background: linear-gradient(270deg, #FE047D 0%, #C41874 37.5%, #C41874 69.27%, #FE047C 100%);
}

.introduce__content-bottom h1 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 2;
  color: #fff;
}

.introduce__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.introduce__info .btn {
  min-width: 25.5rem;
  height: 6.5rem;
  margin-right: 10rem;
}

.introduce__descr {
  font-size: 2rem;
  font-weight: 500;
}

.buy {
  padding-bottom: 19rem;
}

.buy__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 14.5rem;
  list-style: none;
}

.buy__item {
  width: 24rem;
  height: 10rem;
}

.buy__item a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  background-color: #fff;
}

.buy__item img {
  max-width: 80%;
  height: auto;
}

.rules {
  padding-bottom: 26rem;
}

.rules__subtitle {
  font-size: 3.6rem;
  line-height: 2;
  font-weight: 900;
  padding: 0 8rem;
  background: linear-gradient(270deg, #FE047D 0%, #C41874 37.5%, #C41874 69.27%, #FE047C 100%);
  color: #fff;
}

.rules__step {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.rules__step:nth-of-type(1) {
  margin: 13rem 0;
}

.rules__step:nth-of-type(1) .rules__arrow {
  margin: 9.5rem 0 0;
}

.rules__step:nth-of-type(1) .rules__step-item .rules__step-image img {
  max-height: 110%;
  width: auto;
  transform: translate(-1.5%, -5%);
}

.rules__step:nth-of-type(2) {
  margin: 11rem 0 0;
}

.rules__step:nth-of-type(2) .rules__arrow {
  margin: 10rem 2rem 0;
}

.rules__step:nth-of-type(2) .rules__step-image img {
  max-width: 100%;
  height: auto;
}

.rules__step-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35.5rem;
}

.rules__step-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 23.5rem;
  height: 23.5rem;
  margin-bottom: 7.8rem;
  border-radius: 50%;
  background-color: #fff;
}

.rules__step-descr {
  text-align: center;
  font-size: 2.8rem;
  line-height: 1.15;
  font-weight: 700;
  color: #FB7059;
}

.rules__arrow {
  width: 7.5rem;
  height: 3.6rem;
  background-image: url("./../img/rules/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.faq {
  padding: 9rem 0;
}

.faq .container__title {
  margin-bottom: 5rem;
}

.faq__content {
  width: 100%;
}

.faq__item {
  display: block;
  width: 100%;
  max-width: 90.4rem;
  padding: 4rem 3.4rem;
  font-size: 1.8rem;
  margin: 0 auto;
  text-decoration: none;
  background: #fff;
  border-radius: 3rem;
}

.faq__item + .faq__item {
  margin-top: 1.6rem;
}

.faq__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 2;
  font-weight: 700;
  background: linear-gradient(65deg, #E7047F 0, #FF0D74 45%, #FF583C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq__item-header svg {
  width: 2rem;
  height: 1rem;
  transition: all .3s ease;
}

.faq__item-body {
  display: none;
  margin-top: 2rem;
}

.faq__item.opened .faq__item-header svg {
  transform: scale(1, -1);
}

.account {
  padding: 9rem 0;
}

.account .container {
  align-items: flex-start;
}

.account .container__title {
  margin-bottom: 8rem;
}

.account__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.account__content-leftside {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 17.5%;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}

.account__content-tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 7.1rem;
  padding-left: 2.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.4);
}

.account__content-tab span {
  position: static;
  z-index: 3;
}

.account__content-tab::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: .6rem;
  background: linear-gradient(64.61deg, #E7047F -0.17%, #FF0D74 45.53%, #FF583C 101.74%);
  transform: scaleY(0);
  transition: transform 0.2s, backgroun-color 0.1s;
  z-index: 2;
}

.account__content-tab::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: .6rem;
  background-color: #fff;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, backgroun-color 0.1s;
  z-index: 1;
}

.account__content-tab.active::before,
.account__content-tab:hover::before {
  transform: scaleY(1);
}

.account__content-tab.active::after,
.account__content-tab:hover::after {
  transform: scaleY(1);
  width: 100%;
}

.account__content-rightside {
  display: flex;
  flex-direction: column;
  width: 77.5%;
}

.account__block {
  display: none;
}

.account .applications__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.account .applications__info .btn {
  min-width: 36rem;
}

.account .applications__descr {
  font-size: 2rem;
  font-weight: 500;
}

.account .applications__descr:nth-of-type(1) {
  margin-bottom: 1.5rem;
}

.account .applications__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem 6rem 3rem;
  background-color: #fff;
  border-radius: 1.5rem;
}

.account .applications__table-header,
.account .applications__table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.account .applications__table-header {
  padding-bottom: 3rem;
  color: #B4A7C9;
  border-bottom: .1rem solid #D6D2DD;
}

.account .applications__table-row {
  margin-top: 3rem;
}

.account .applications__table-date {
  width: 12rem;
}

.account .applications__table-status {
  width: 16rem;
}

.account .applications__table-sum {
  width: 16rem;
}

.account .applications__table-resolve {
  width: 28rem;
}

.account .person__inputs-wrap {
  display: flex;
  justify-content: space-between;
  width: 77.5rem;
}

.account .person__inputs {
  width: 38rem;
}

.account .person__inputs .form__field + .form__field {
  margin-top: 1.2rem;
}

.account .person .row--btn .btn {
  width: auto;
}

.account .person .row--btn .btn + .btn {
  margin-left: 2rem;
}

.account .person .row--btn .btn--transparent {
  display: none;
}

.account .person.edit .row--btn .btn--transparent {
  display: inline-flex;
}

.product-rating__block + .product-rating__block {
  margin-top: 7rem;
}

.product-rating__block .row-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.product-rating__block .row-column .form__field {
  width: 38rem;
}

.product-rating__block .row-column .form__textarea {
  height: 9rem;
}

.product-rating__wrap {
  padding: 4rem 2rem;
  border-radius: .7rem;
  background-color: #fff;
}

.product-rating__name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.product-rating__name a {
  margin-left: 1.5rem;
}

.product-rating__grade {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-rating__subtitle {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
}

.product-rating__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 2rem;
}

.product-rating__label {
  margin-bottom: .6rem;
}

@media screen and (max-width: 1400px) {
  html,
  body {
    font-size: .587vw;
  }
}

@media screen and (max-width: 1200px) {
  html,
  body {
    font-size: .653vw;
  }
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: .719vw;
  }

  .header__row,
  .container {
    width: 100%;
    max-width: 95vw;
  }

  .menu__link,
  .footer__link {
    font-size: 2.2rem;
  }

  .popup__subtitle,
  .form__text-input,
  .form__textarea,
  .faq__item-header,
  .faq__item-body,
  .btn,
  .product-rating__name,
  .popup__step,
  .account__content-tab {
    font-size: 2rem;
  }

  .account .applications__descr,
  .form__text-label,
  .custom-file__lab,
  .product-rating__subtitle,
  .account .applications__table-header,
  .account .applications__table-row {
    font-size: 1.8rem;
  }

  .form__text-input::-moz-placeholder,
  .form__textarea::-moz-placeholder {
    font-size: 1.6rem;
  }

  .form__text-input:-ms-input-placeholder,
  .form__textarea:-ms-input-placeholder {
    font-size: 1.6rem;
  }

  .form__text-input::placeholder,
  .form__textarea::placeholder,
  .form__textarea:focus + .form__text-label,
  .form__text-input:focus + .form__text-label,
  .product-rating__label,
  .custom-checkbox__input:checked + label,
  .custom-checkbox__input:not(:checked) + label {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 1.115vw;
  }

  .onlyDesktop {
    display: none !important;
  }

  .onlyMobile {
    display: inline-block !important;
  }

  .main {
    padding-top: 6rem;
  }

  .btn {
    height: 7rem;
  }

  .popup__window,
  .popup__window.big {
    width: 450px;
    max-width: 90vw;
  }

  .form__text-input {
    height: 7rem;
  }

  .form__drpdwn-list {
    top: 7.3rem;
    font-size: 2rem;
  }

  .introduce__content {
    background-image: none;
  }

  .introduce__content-top {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .introduce__content-bottom {
    padding: 0 3rem;
  }

  .introduce__slogan {
    width: 50vw;
  }

  .introduce__image {
    width: 75vw;
    margin-right: 0;
    margin-top: 10rem;
  }

  .introduce__info {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .introduce__info .btn {
    margin-right: 0;
    margin-bottom: 4rem;
    height: 7rem;
    min-width: 30rem;
  }

  .rules__step {
    flex-direction: column;
  }

  .rules__step:nth-of-type(1) .rules__arrow,
  .rules__step:nth-of-type(2) .rules__arrow {
    margin: 9rem auto;
  }

  .rules__arrow {
    transform: rotate(90deg);
  }

  .rules__subtitle {
    padding: 0 3rem;
  }

  .buy__item {
    width: 20rem;
  }

  .account .container {
    align-items: center;
  }

  .account__content {
    flex-direction: column;
  }

  .account__content-leftside {
    flex-direction: row;
    width: 450px;
    max-width: 95vw;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 0;
  }

  .account__content-rightside {
    width: 100%;
  }

  .account .applications__info {
    flex-direction: column;
  }

  .account .applications__info .btn {
    margin-bottom: 3rem;
  }

  .account .applications__table {
    width: 450px;
    max-width: 95vw;
    margin: 0 auto;
  }

  .account .applications__table-header {
    padding: 0;
    border: 0;
  }

  .account .applications__table-row {
    margin-top: 0;
    flex-direction: column;
  }

  .account .applications__table-row + .applications__table-row {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: .1rem solid #D6D2DD;
  }

  .account .applications__table-date,
  .account .applications__table-status,
  .account .applications__table-sum,
  .account .applications__table-resolve {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .account .person__inputs-wrap {
    flex-direction: column;
    width: 450px;
    max-width: 95vw;
    margin: 0 auto;
  }

  .account .person__inputs {
    width: 100%;
  }

  .account .person__inputs + .person__inputs {
    margin-top: 1.2rem;
  }

  .account .person .row + .row--btn {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .faq__item {
    padding: 2rem;
    border-radius: 0.7rem;
  }

  .product-rating__block .row-column .form__textarea {
    height: 18rem;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 1.247vw;
  }

  .introduce__content-bottom h1,
  .popup__title {
    font-size: 3rem;
  }

  .menu__link,
  .footer__link,
  .rules__subtitle {
    font-size: 2.6rem;
  }

  .popup__subtitle,
  .form__text-input,
  .form__textarea,
  .faq__item-header,
  .faq__item-body,
  .btn,
  .product-rating__name,
  .popup__step,
  .account__content-tab {
    font-size: 2.4rem;
  }

  .account .applications__descr,
  .form__text-label,
  .custom-file__lab,
  .product-rating__subtitle,
  .account .applications__table-header,
  .account .applications__table-row {
    font-size: 2.2rem;
  }

  .form__text-input::-moz-placeholder,
  .form__textarea::-moz-placeholder {
    font-size: 2rem;
  }

  .form__text-input:-ms-input-placeholder,
  .form__textarea:-ms-input-placeholder {
    font-size: 2rem;
  }

  .form__text-input::placeholder,
  .form__textarea::placeholder,
  .form__textarea:focus + .form__text-label,
  .form__text-input:focus + .form__text-label,
  .product-rating__label,
  .custom-checkbox__input:checked + label,
  .custom-checkbox__input:not(:checked) + label {
    font-size: 2rem;
  }

  .product-rating__block .row-column {
    flex-direction: column;
  }

  .product-rating__block .row-column .form__field {
    width: 100%;
  }

  .product-rating__block .row-column .form__field + .form__field {
    margin-top: 1.5rem;
  }

  .product-rating__item {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  html,
  body {
    font-size: 1.379vw;
  }
}

@media screen and (min-width: 2000px) {
  html,
  body {
    font-size: 12px;
  }
}